/* body   {

    background-image: radial-gradient(rgb(213, 212, 250), rgb(221, 231, 255));
    animation: colorCycle 15s infinite alternate;
} */

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #e9e8e9,
    #c8cde9,
    #cec8c8,
    #d0d0d1
  );
  background-size: 400% 400%;
  animation: waveGradient 10s ease-in-out infinite;
}

@keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* @keyframes bgColorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    text-align: center;
    color: #ffffff;
    font-size: 5.9rem;
    font-family: "ratiomodern", serif;
    font-weight: 400;
    font-style: italic;
     text-shadow: 0 0 10px #c3c3c3, 0 0 20px #fff, 0 0 30px #ffecf5, 0 0 40px #eefcfc, 0 0 50px #eeeeee, 0 0 60px #e6e6ff, 0 0 70px #ffe9f4;
    font-family: ratio;
    animation: h1glow 10s infinite;
    font-kerning: auto;
}

@keyframes h1glow {
    0% {
        text-shadow: 0 0 10px #d8d8d8, 0 0 20px #fff, 0 0 30px #ffecf5, 0 0 40px #eefcfc, 0 0 50px #ffe2f0, 0 0 60px #e6e6ff, 0 0 70px #ffe9f4;
    }
    50% {
        text-shadow: 0 0 20px #d8d8d8, 0 0 30px #fff, 0 0 40px #ffecf5, 0 0 50px #eefcfc, 0 0 60px #ffe2f0, 0 0 70px #cfcff8, 0 0 80px #ece9ff;
    }
    100% {
        text-shadow:  0 0 50px #d8d8d8, 0 0 20px #fff, 0 0 30px #ffecf5, 0 0 40px #eefcfc, 0 0 50px #ffe2f0, 0 0 60px #e6e6ff, 0 0 70px #ffe9f4;;
    }
} {
    
}

.VIDEO-WRAPPER {
    position: relative;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    background-color: #ffffff33;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(255, 0, 0);
}


button {
align-items: flex-start;
text-align: center;
cursor: default;
padding-inline-start: 6px;
color: buttontext;
padding-block-start: 2px;
padding-block-end: 3px;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: outset;
border-right-style: outset;
border-bottom-style: outset;
border-left-style: outset;
border-top-color: buttonface;
border-right-color: buttonface;
border-bottom-color: buttonface;
border-left-color: buttonface;
background-color: buttonface;
box-sizing: border-box;
position: fixed;
left: 80%;
/* display: none; */
}

button > div > img {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}   
.menu-box {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    /* background-color: royalblue; */
    place-items: center;
}
.menu {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  text-align: center;
  line-height: 2px;
  width: min-content;
    padding: 10px;
    border-top-style: outset;
border-right-style: outset;
border-bottom-style: outset;
border-left-style: outset;
}

a {
    text-decoration: none;
    color: #b7b7b7;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
    line-height: initial;
}

a:hover {
    color: #b5b5b5;
    background-color: #b7b7b7;
    border-radius: 5px;
    text-shadow: #000000 0px 0px 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
}

li
{
    margin: 5px 0;
     border: #000000 1px solid;
}
h2 {
text-align: center;
color: rgb(130, 130, 130);
line-height: 19.5px;
text-shadow: rgb(162, 162, 162) 0px 0px 1px;
margin: 0px;
filter: blur(0px);
}

#video-section {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    height: 100dvh;
}

.about {

    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.4em;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
    text-shadow: #000000 0px 0px 1px;
    max-width: 50%;
}

p {
    margin: 10px;
}

.live-video {
    padding: 0 10px 0 10px
    display: grid;
    
}